/*ikony material designa*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

:root {
  font-family: 'Montserrat', Avenir,Inter,  Helvetica, Arial, sans-serif;
  /* --- TRYB JASNY (Domyślny) --- */
/*  --backdrop-bg: #e0e0e0;  Tło za "telefonem" (jasnoszare) */
  --backdrop-bg: #00c38a;
  --mobile-bg: #ffffff;   /* Tło samego "telefonu" (białe) */

  --circle-progress-size: 270px;
  --circle-progress-thickness: 3px;
  --circle-progress-percent: 20;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --- TRYB CIEMNY --- */
    /* Tutaj ustalasz jak ciemne ma to być. Im wyższe wartości (np. #444), tym jaśniejszy szary. */
    --backdrop-bg: #d0d0d0; /* Bardzo ciemne tło poza telefonem */
    --mobile-bg: #242424;   /* Lekko jaśniejsze, przyjemne tło "telefonu" */
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red; <- pamiętaj, by to potem usunąć :) */
  -webkit-tap-highlight-color: transparent;  /* wyłacza podswietlenie prostokatu generowane przez android webview przy wciskaniu przycisku */
}

body {
  /* body samo użyje odpowiedniej zmiennej w zależności od trybu systemu */
/*  background-color: var(--backdrop-bg);*/
 background: linear-gradient(to right, #ff7e5f, #feb47b); 
 /* background: linear-gradient(to right, #54b38b, #493f98); */

  /* Przydatne płynne przejście przy zmianie trybu z jasnego na ciemny: */
  transition: background-color 0.3s ease;
}

.mobile-view {
  max-width: 450px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;



  /* Zamiast "white" na sztywno, używamy zmiennej: */
  border-radius: 1.0rem;
  background-color: var(--mobile-bg);
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 1);

  /* Płynne przejście dla widoku mobilnego */
  transition: background-color 0.3s ease;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-half{
flex: 4;
min-height: 40vh;
max-height: 40vh;
/*min-height: 0;*/

/*childrens*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.skill{
  width: var(--circle-progress-size);
  height: var(--circle-progress-size);
  position: relative;
}

.outer{
  height: var(--circle-progress-size);
  width: var(--circle-progress-size);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;

  padding: var(--circle-progress-thickness);
}

.inner{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);

  /* childrens */
  display: flex;
  align-items: center;
  justify-content: center;
}


circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: var(--circle-progress-thickness);


  /* DYNAMICZNE WYLICZANIE POZYCJI I PROMIENIA */
  /* Środek to połowa szerokości */
  cx: calc(var(--circle-progress-size) / 2);
  cy: calc(var(--circle-progress-size) / 2);
  /* Promień to: (Rozmiar całkowity - grubość paska) podzielone na 2 */
  r: calc((var(--circle-progress-size) - var(--circle-progress-thickness)) / 2);

  /* DYNAMICZNE WYPEŁNIENIE PROCENTOWE (dzięki pathLength="100" w HTML) */
  stroke-dasharray: 100;
  stroke-dashoffset: calc(100 - var(--circle-progress-percent));

  /* Płynna animacja przy zmianie wartości procentowej */
  transition: stroke-dashoffset 0.4s ease-out;
}



svg{
  position: absolute;
  top: 0;
  left: 0;
  width: var(--circle-progress-size);
  height: var(--circle-progress-size);
  transform: rotate(-90deg);

  pointer-events: none; /*allow input to handle events, because svg is above inner*/
}

/* Ukrywa strzałki góra/dół dla input type="number" w Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Ukrywa strzałki w Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bottom-half{
flex: 6;
min-height: 0;
}

.button-row{
display: flex;
justify-content: center; /* Wyśrodkowanie w poziomie na ekranie */
align-items: center;     /* Wyrównanie w linii poziomej */
gap: 15px;               /* Automatyczny, idealny odstęp między przyciskami */
margin-top: 20px;
}

.normal-button{
/*background-color: #4CAF50;*/
background-color: #7643a1;
color: white; /*text color*/
height: 50px;
padding: 0px 25px; /*odstepy wewnętrzne*/
border: none;
/*border-radius: 5px;*/
border-radius: 50vmin;
cursor: pointer;
font-size: 16px;
font-weight: bold;
transition: 0.1s;
}

@media (hover: hover) {
.normal-button:hover {
filter: brightness(1.3); /* Ciemniejszy zielony po najechaniu */
/*transform: scale(1.05);*/
transition: 0.1s;
}
}

.normal-button:active {
filter: brightness(1.3); /* Ciemniejszy zielony po najechaniu */
transform: scale(1.05);
transition: 0.1s;
}

.circle-button{
width: 50px;
border-radius: 50vmin;
color: #7643a1;
background-color: white;
border: 2px;
border: 1px solid #7643a1;

padding: 0;

/* 2. Magia Flexboxa - centruje WSZYSTKO (tekst lub ikonę) idealnie na środku */
display: inline-flex;
align-items: center;
justify-content: center;
}

.normal-input{
  font-family: 'Montserrat', sans-serif; 
    font-weight: 200;
font-size: 5.0rem;
color: #221f20;
  margin-bottom: 5px;
  field-sizing: content;
  align-self: center;

  border: none;     /* Usuwa główną ramkę */
  outline: none; 
  background: transparent;
}
